OutlooktaskstoTicktick_20230328023922/Microsoft.Flow/flows/081d4bd2-35cb-4d70-bf1e-2043807605e4/definition.json
{"name":"866f15c1-eb26-456b-9baa-4126c3087b13","id":"/providers/Microsoft.Flow/flows/866f15c1-eb26-456b-9baa-4126c3087b13","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Outlook task to Ticktick task","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"6216f86f-1d22-4c47-9b34-8303e5868f0b","type":"User","tenantId":"5f62145c-4ab7-4a3e-af54-fafe75b08692"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-03-26T12:51:23.8467584Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_task_is_added":{"recurrence":{"frequency":"Minute","interval":3},"splitOn":"@triggerOutputs()?['body']","metadata":{"operationMetadataId":"8a898f06-6823-4f2b-b044-8fcc592222ca"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_outlooktasks","connectionName":"shared_outlooktasks","operationId":"Trigger_OnNewTask"},"parameters":{"folderId":"AQMkAGVmM2FlY2E1LWNhMWMtNDYzNy1iMzYxLTA0ZTYzMjczMTI3NQAuAAADrFIjyodaw0mRFyVA651QAAEAjmJ0f_lqlUCS12tbclIT4gAAAbyJzgAAAA=="},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_a_task":{"runAfter":{},"metadata":{"operationMetadataId":"5f446688-e41a-4131-9e89-3f52828db497"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_outlooktasks","connectionName":"shared_outlooktasks","operationId":"GetTask"},"parameters":{"taskId":"@triggerOutputs()?['body/Id']"},"authentication":"@parameters('$authentication')"}},"Initialize_variable":{"runAfter":{"Get_a_task":["Succeeded"]},"metadata":{"operationMetadataId":"f766b78a-0f9c-4c26-8016-b886c09472e4"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Tags","type":"string"}]}},"Apply_to_each_2":{"foreach":"@outputs('Compose_6')","actions":{"Compose":{"runAfter":{},"metadata":{"operationMetadataId":"6b787623-d51f-4a73-af3b-f592ee6e54b2"},"type":"Compose","inputs":"@items('Apply_to_each_2')"},"Compose_3":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"fcb12348-e736-41a8-ac12-a4fca23c1566"},"type":"Compose","inputs":"@replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(outputs('Compose'), '@AA', '#FaskenAA'), '@KAG', '#FaskenKAG'), '@GS', '#FaskenGS'), '@JUN', '#FaskenJUN'), '@JA', '#FaskenJA'), 't.M&A', '#FaskenM&A'), 't.Privacy', '#FaskenPrivacy'), 'i.DF', '#datafranca'), 'i.CIJL', '#CIJL'), 'i.JBM', '#JBM')"},"Append_to_string_variable":{"runAfter":{"Compose_3":["Succeeded"]},"metadata":{"operationMetadataId":"7f97fac2-cb81-499c-876b-1214048bcb4f"},"type":"AppendToStringVariable","inputs":{"name":"Tags","value":"@outputs('Compose_3')"}}},"runAfter":{"Compose_6":["Succeeded"]},"metadata":{"operationMetadataId":"290cfa99-dac8-4a89-8fb4-aae53317c931"},"type":"Foreach"},"Task":{"runAfter":{"Html_to_text":["Succeeded"]},"metadata":{"operationMetadataId":"8b2143f5-f2c9-429e-a248-072fd172eb78"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_ticktick-5f02c75c501cc7ec48-5fac6c761dac04cfa2","connectionName":"shared_ticktick-5f02c75c501cc7ec48-5fac6c761dac04cfa2","operationId":"Task"},"parameters":{"body/title":"@outputs('Compose_4')","body/content":"@body('Html_to_text')","body/desc":"@variables('Final Tags')","body/allDay":true,"body/dueDate":"@outputs('Get_a_task')?['body/DueDateTime/DateTime']","body/priority":"@variables('Importance')"},"authentication":"@parameters('$authentication')"}},"Compose_6":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"3cc1b2cd-0144-42e2-9cb5-6dc9a8ba82bd"},"type":"Compose","inputs":"@outputs('Get_a_task')?['body/Categories']"},"Set_variable_2":{"runAfter":{"Compose_2":["Succeeded"]},"metadata":{"operationMetadataId":"7609dccf-9081-436b-9113-88a7f99166e1"},"type":"SetVariable","inputs":{"name":"Importance","value":"@if(equals(outputs('Compose_2'), 'Low'), 1,\r\nif(equals(outputs('Compose_2'), 'Normal'), 3,\r\nif(equals(outputs('Compose_2'), 'High'), 5, 0)))"}},"Compose_2":{"runAfter":{"Initialize_variable_2":["Succeeded"]},"metadata":{"operationMetadataId":"a53f0fcc-1b3b-443b-b009-9864d24ebc1d"},"type":"Compose","inputs":"@outputs('Get_a_task')?['body/Importance']"},"Space_between_hashtags":{"runAfter":{"Apply_to_each_2":["Succeeded"]},"metadata":{"operationMetadataId":"789a989d-f7ec-464a-8734-ad130628c0b4"},"type":"Compose","inputs":"@replace(variables('Tags'), '#', ', #')"},"Delete_a_task":{"runAfter":{"Task":["Succeeded"]},"metadata":{"operationMetadataId":"dea8f1b9-c942-4a78-a03f-cd2ccd41c85d"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_outlooktasks","connectionName":"shared_outlooktasks","operationId":"DeleteTask_V1"},"parameters":{"task_id":"@outputs('Get_a_task')?['body/Id']"},"authentication":"@parameters('$authentication')"}},"Compose_4":{"runAfter":{"Set_variable_2":["Succeeded"]},"metadata":{"operationMetadataId":"879c4912-e093-47ba-a2f9-c0dd32addc06"},"type":"Compose","inputs":"@replace(replace(replace(variables('Title'), '[EXT]', ''), 'RE:', ''), 'FWD:', '')"},"Html_to_text":{"runAfter":{"Compose_4":["Succeeded"]},"metadata":{"operationMetadataId":"8b7eb578-6c38-4e77-ad4e-50a15dc4e788"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_conversionservice","connectionName":"shared_conversionservice","operationId":"HtmlToText"},"parameters":{"Content":"<p>@{outputs('Get_a_task')?['body/Body/Content']}</p>"},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Set_variable":{"runAfter":{},"metadata":{"operationMetadataId":"559d26db-9ff7-4798-b686-27c753b1d19f"},"type":"SetVariable","inputs":{"name":"Final Tags","value":"#Fasken"}}},"runAfter":{"Initialize_variable_3":["Succeeded"]},"else":{"actions":{"Set_variable_3":{"runAfter":{},"metadata":{"operationMetadataId":"ac6d8549-69fd-4db0-adc3-031f697d004b"},"type":"SetVariable","inputs":{"name":"Final Tags","value":"@variables('Tags')"}}}},"expression":{"equals":["@variables('Tags')",""]},"metadata":{"operationMetadataId":"50e6170d-d31a-441f-8e7e-9406f38f4a68"},"type":"If"},"Initialize_variable_3":{"runAfter":{"If_title_contains_hashtags":["Succeeded"]},"metadata":{"operationMetadataId":"7e455421-d0f2-41a6-95bf-9b9e23edb40e"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Final Tags","type":"string"}]}},"Initialize_variable_2":{"runAfter":{"Condition":["Succeeded"]},"metadata":{"operationMetadataId":"44e0f757-698a-4f40-8879-19403446b39a"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Importance","type":"integer"}]}},"If_title_contains_hashtags":{"actions":{"Extract_hashtags_from_title":{"runAfter":{},"metadata":{"operationMetadataId":"76620f22-9660-4483-881e-7d0d9aed374f"},"type":"Compose","inputs":"@split(replace(outputs('Get_a_task')?['body/Subject'], '[^#\\\\w\\\\s]', ''), ' ')"},"Join_title_hashtags_in_a_new_string":{"runAfter":{"Extract_hashtags_from_title":["Succeeded"]},"metadata":{"operationMetadataId":"fced6eb2-42e7-4b51-bca3-d86b7a36ac6e"},"type":"Compose","inputs":"@join(outputs('Extract_hashtags_from_title'),', ')"},"Join_title_hashtags_with_hashtags_resulting_from_categories":{"runAfter":{"Join_title_hashtags_in_a_new_string":["Succeeded"]},"metadata":{"operationMetadataId":"8d6ac364-9242-4655-a060-a8e4a474eca4"},"type":"Compose","inputs":"@concat(outputs('Space_between_hashtags'), ', ', outputs('Join_title_hashtags_in_a_new_string'))"},"Set_variable_4":{"runAfter":{"Join_title_hashtags_with_hashtags_resulting_from_categories":["Succeeded"]},"metadata":{"operationMetadataId":"2f29ad76-c696-4c6c-906f-88a86515f130"},"type":"SetVariable","inputs":{"name":"Tags","value":"@{outputs('Join_title_hashtags_with_hashtags_resulting_from_categories')}"}},"Title_without_hashtags":{"runAfter":{"Set_variable_4":["Succeeded"]},"metadata":{"operationMetadataId":"85a502a9-f587-4e05-87d8-8932f3d6dc23"},"type":"Compose","inputs":"@replace(outputs('Get_a_task')?['body/Subject'], '#\\\\w+\\\\b', '')"},"Set_variable_6":{"runAfter":{"Title_without_hashtags":["Succeeded"]},"metadata":{"operationMetadataId":"1274426e-7ecd-4451-874b-f14230f3345a"},"type":"SetVariable","inputs":{"name":"Title","value":"@{outputs('Title_without_hashtags')}"}}},"runAfter":{"Initialize_variable_4":["Succeeded"]},"else":{"actions":{"Set_variable_5":{"runAfter":{},"metadata":{"operationMetadataId":"a9151d72-3fd6-47ee-9f1c-4277f4c8fe7e"},"type":"SetVariable","inputs":{"name":"Tags","value":"@{outputs('Space_between_hashtags')}"}},"Set_variable_7":{"runAfter":{"Set_variable_5":["Succeeded"]},"metadata":{"operationMetadataId":"5325806b-d6c0-4901-b04c-7daaaf8a143c"},"type":"SetVariable","inputs":{"name":"Title","value":"@outputs('Get_a_task')?['body/Subject']"}}}},"expression":{"contains":["@outputs('Get_a_task')?['body/Subject']","#"]},"metadata":{"operationMetadataId":"9270db2b-50c8-4bfa-a127-8b7475fd6a6b"},"type":"If"},"Initialize_variable_4":{"runAfter":{"Space_between_hashtags":["Succeeded"]},"metadata":{"operationMetadataId":"452aca91-ed56-4770-ada8-eeac4d79d115"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Title","type":"string"}]}}}},"connectionReferences":{"shared_outlooktasks":{"connectionName":"shared-outlooktasks-281f7e54-599b-4c9a-a139-76b8dc674508","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_outlooktasks","tier":"NotSpecified"},"shared_ticktick-5f02c75c501cc7ec48-5fac6c761dac04cfa2":{"connectionName":"09f51b1d-0259-431c-922f-aa88-d2aeccfd","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_ticktick-5f02c75c501cc7ec48-5fac6c761dac04cfa2","tier":"NotSpecified"},"shared_conversionservice":{"connectionName":"shared-conversionser-47457498-b5d9-4386-bd9a-d09fa46274f5","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_conversionservice","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}